body{
    background-image: url("../IMG/immagine_natale.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 120vh;
}

#titolo{
    color: white;
    text-align: center;
    font-size: 30px;
}

#babbo{
    color: white;
    text-align: center;
    font-size: 25px;
}